<h1 id="title">Inserisci nome e prefisso organizzazione</h1>
<div id="form_sidebar">
 <!--<app-sidebar></app-sidebar>-->
  <!--<div id="contenitore_form">--->
    <form class="form"
      [formGroup]="formOrganization"
      (submit)="onSubmit()">
      <div>
        <mat-form-field >
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field >
          <mat-label>Prefisso Organizzazione</mat-label>
          <input matInput formControlName="prefix"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field >
          <mat-label>DBname</mat-label>
          <input matInput formControlName="dbname"/>
        </mat-form-field>
      </div>
      <div class="bottone">
        <button type="submit"  [disabled]="formOrganization.invalid">
          INVIA
        </button>
      </div>
      <p *ngIf="scrittaErrore">{{scrittaErrore}}</p>
    </form>
  </div>
<!--</div>-->
