.form{
padding: 50px;
display: inline-block;
}
#title{
  padding-top: 30px;
  text-align: center;
}
.bottone{
  display: block;
  text-align: center;
}
#form_sidebar{
  margin-top: 70px;
  display: block;
  text-align: center;
 /* background-color: red;*/
}