.check_form{
    text-align: center;
    line-height: 2;
    font-size: 23px;
}
.title{
    padding-top: 30px;
    text-align: center;
}
.solo_form
{
  margin-top: 40px;
  display: block;
  text-align: center;
  
}
.integration_form{

  margin-top:3%;
  text-align: center;
}

