<h1 class="title">SCEGLI LA TUA INTEGRAZIONE</h1>
<!--<div class="form_sidebar">-->
 <!-- <app-sidebar></app-sidebar> --> 
  <div class="solo_form">
    <form class="check_form" [formGroup]="gruppoCheckbox" (submit)="invio()">
      <input type="checkbox" formControlName="SmartCo" />
      <label>SmartCo</label>
      <br />
      <input type="checkbox" formControlName="Catalean" />
      <label>Catalean</label>
      <br />
      <input type="checkbox" formControlName="nessuno" />
      <label>nessuno</label>
      <br />
      <button type="submit" [disabled]="controllo()">INVIA</button>
    </form>
  </div>
<!--</div>-->

<div class="integration_form" *ngIf="this.gruppoCheckbox.value.SmartCo == true && controlloComparsaSmartco == true"><app-smart-co></app-smart-co></div>

<div *ngIf="this.gruppoCheckbox.value.Catalean == true && controlloComparsaCatalean == true" class="integration_form"><app-catalean [controllo_catalean]="controlloComparsaCatalean" [controllo_smartCo]="controlloComparsaSmartco"></app-catalean></div>

<div
  *ngIf="
    this.gruppoCheckbox.value.SmartCo == true &&
    this.gruppoCheckbox.value.Catalean == true &&
    this.controlloComparsaEntrambi == true
  "
  class="integration_form"
>
  <app-catalean (evento)="ricevoDati($event)" [controllo_catalean]="controlloComparsaCatalean" [controllo_smartCo]="controlloComparsaSmartco"></app-catalean>
  <app-smart-co *ngIf="controlloInvioFormCatalean == true"></app-smart-co>
</div>
