.check_form{
    text-align: center;
    line-height: 2;
}
.title{
    padding-top: 30px;
    text-align: center;
}
.solo_form
{
  margin-top: 40px;
  display: block;
  text-align: center;
  font-size: 25px;
}
/*.form_sidebar{
  justify-content: space-between;
  display: flex;
}*/
.integration_form{

  margin-top:3%;
  text-align: center;
}

