.check_form{
    text-align: center;
    font-size: large;
    transform: scale(1.5);
    line-height: 2;
}
#title{
    padding-top: 30px;
    text-align: center;
}
.solo_form
{
    margin-top: 40px;
  margin-right: 48%;
  display: flex;
  align-items: center; 
  justify-items: center;
}
.form_sidebar{
  justify-content: space-between;
  display: flex;
}