.form{
    text-align: center;
    padding-top: 20px;
  }
  #title{
    padding-top: 30px;
    text-align: center;
  }
  #contenitore_form
  {
    display: block;
    text-align: center;
  }
  /*#form_sidebar{
    justify-content: space-between;
    display: flex;
  }*/