.form{
  text-align: center;
  padding-top: 20px;
  display: inline; 
  justify-content: center;
}
#title{
  padding-top: 30px;
  text-align: center;

}
#contenitore_form
{
  margin-right: 44.5%;
  display: flex;
  align-items: center; 
  justify-items: center;
  
}
#form_sidebar{
  justify-content: space-between;
  display: flex;
}