<h1 class="title">COMPILA PER L' INTEGRAZIONE DI SMARTCO</h1>
<form [formGroup]="smartcoForm">
  <mat-form-field class="input">
    <mat-label>DownloandLinkIos</mat-label>
    <input matInput formControlName="downloandLinkIos" />
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>DownloandLinkAndroid</mat-label>
    <input matInput formControlName="downloadLinkAndroid" />
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>Name (obbligatorio)</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>Version (obbligatorio)</mat-label>
    <input matInput formControlName="version" />
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>CommunicationFeatureUUlD</mat-label>
    <input matInput formControlName="communicationFeatureUUID" />
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>HighlightsUUID</mat-label>
    <input matInput formControlName="highlightsUUID" />
  </mat-form-field>

  <br />

  <mat-form-field class="input">
    <mat-label>FirstPageUUID</mat-label>
    <input matInput formControlName="firstPageUUID" />
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>StickyUUID</mat-label>
    <input matInput formControlName="stickyUUID" />
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>PinToTopCap</mat-label>
    <input matInput formControlName="pinToTopCap" />
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>HighlightLimit</mat-label>
    <input matInput formControlName="highlightLimit" />
  </mat-form-field>
  <br />
  <div class="div_container">
    <div class="top_part">
      <span> ADDICTIONAL MENU ITEMS </span>
      <button type="button" class="bottone_aggiungi" (click)="addFormGroup()">+</button>
    </div>

    <form [formGroup]="formArrayGroupMenuItems">
      <div formArrayName="MenuItems" class="center_part">
        <div
          *ngFor="let group of MenuItems.controls; let i = index"
          [formGroupName]="i"
          class="form-group"
        >
          <!--formGroups.control è una proprietà del FormArray che contiene l'array di FormGroup o FormControl che fanno parte del FormArray.-->
          <mat-form-field class="input">
            <mat-label>PinToTopCap</mat-label>
            <input matInput formControlName="pinToTopCap" />
          </mat-form-field>
          <mat-form-field class="input">
            <mat-label>HighlightLimit</mat-label>
            <input matInput formControlName="highlightLimit" />
          </mat-form-field>
          <br />
          <button type="button" (click)="removeFormGroup(i)">-</button>
        </div>
      </div>
    </form>
  </div>
  <br />
  <button
    type="submit"
    [disabled]="smartcoForm.invalid"
    (click)="onSubmit()"
  >
    INVIA
  </button>
</form>

<!----->
