<form
  class="checkbox-container"
  [formGroup]="gruppo_checkbox_lingue"
  (submit)="invio()"
>
  <div class="checkbox-group">
    <input type="checkbox" formControlName="italiano" />
    <label>Italiano</label>
  </div>
  <br />
  <div class="checkbox-group">
    <input type="checkbox" formControlName="inglese" />
    <label>Inglese</label>
  </div>
  <br />
  <div class="checkbox-group">
    <input type="checkbox" formControlName="spagnolo" />
    <label>Spagnolo</label>
  </div>
  <br />
  <div class="checkbox-group">
    <input type="checkbox" formControlName="tedesco" />
    <label>Tedesco</label>
  </div>
  <br />
  <div class="checkbox-group">
    <input type="checkbox" formControlName="francese" />
    <label>Francese</label>
  </div>
  <br />
  <button type="submit" [disabled]="!gruppo_checkbox_lingue.valid">
    INVIA
  </button>
</form>
