.side_bar{
    display: inline-block;
    padding: 50px;
    border: 3px solid black;
    inline-size: 70px;
    margin-top: 1px;
    margin-bottom: 0px;
    margin-left: 1px;
}
button{
    margin-bottom: 10px ; 
    margin-left: 1px;
    size: 20px;
    padding: 10px;
    background-color: white;
    font-size: 16.8px;
    
}
#span_side_bar{
    display: inline;
}