<h1 class="title">COMPILA PER L' INTEGRAZIONE DI CATALEAN</h1>
<form [formGroup]="Catalean_form" >
  <mat-form-field class="input">
    <mat-label>CataleanAccountld</mat-label>
    <input matInput formControlName="CataleanAccountld" />
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>MapContainerUUlD</mat-label>
    <input matInput formControlName="MapContainerUUlD" />
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>Name (obbligatorio)</mat-label>
    <input matInput formControlName="Name" />
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>Version (obbligatorio)</mat-label>
    <input matInput formControlName="Version" />
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>LastConsolidationDate</mat-label>
    <input matInput formControlName="LastConsolidationDate" />
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>DownloadLinklos</mat-label>
    <input matInput formControlName="DownloadLinklos" />
  </mat-form-field>

  <br />

  <mat-form-field class="input">
    <mat-label>DownloadLinkAndroid</mat-label>
    <input matInput formControlName="DownloadLinkAndroid" />
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>DownloadLinkElectron</mat-label>
    <input matInput formControlName="DownloadLinkElectron" />
  </mat-form-field>

  <mat-form-field class="input">
    <mat-label>ResourceBatchLimit</mat-label>
    <input matInput formControlName="ResourceBatchLimit" />
  </mat-form-field>

  <button type="button"  (click)="aggiungi_text()">
    Crea TextSearchFields 
  </button>
  <form [formGroup]="formArrayGrouptext">
    <div formArrayName="formGroupstext">
      <span
        *ngFor="let group of formGroupstext.controls; let i = index"
        [formGroupName]="i"
      >
        <mat-form-field class="input">
          <mat-label>TextSearchFields </mat-label>
          <input matInput formControlName="TextSearchFields" />
        </mat-form-field>
      </span>
    </div>
  </form>
  <!---->
  <input type="checkbox" formControlName="AutoHideVerticalFilter" />
  <label>AutoHideVerticalFilter</label>
  <br />
  <!---->
  <div class="div_container_duo">
    <div class="top_part">
      <span> ProductGrid </span>
    </div>
    <div class="center_part">
      <form>
        <mat-form-field class="input">
          <mat-label>EmptyResultMessage</mat-label>
          <input matInput formControlName="EmptyResultMessage" />
        </mat-form-field>
        <mat-form-field class="input">
          <mat-label>FirstSearchMessage</mat-label>
          <input matInput formControlName="FirstSearchMessage" />
        </mat-form-field>
      </form>
    </div>
  </div>
  <!---->
  <div class="div_container">
    <div class="top_part">
      <span> CREDITSANDPRIVACY </span>
    </div>
    <div class="center_part">
      <form>
        <mat-form-field class="input">
          <mat-label>UrlWebSite</mat-label>
          <input matInput formControlName="UrlWebSite" />
        </mat-form-field>
        <mat-form-field class="input">
          <mat-label>CompanyLogo</mat-label>
          <input matInput formControlName="CompanyLogo" />
        </mat-form-field>
        <mat-form-field class="input">
          <mat-label>text</mat-label>
          <input matInput formControlName="text" />
        </mat-form-field>
      </form>
    </div>
  </div>
  <!----->
  <div class="div_container">
    <div class="top_part">
      <span> ADDICTIONAL MENU ITEMS </span>
      <button class="bottone_aggiungi" (click)="aggiungi_FormGroup()">+</button>
    </div>
    <form [formGroup]="formArrayGroup">
      <div formArrayName="formGroups" class="center_part">
        <div
          *ngFor="let group of formGroups.controls; let i = index"
          [formGroupName]="i"
          class="form-group"
        >
          <!--formGroups.control è una proprietà del FormArray che contiene l'array di FormGroup o FormControl che fanno parte del FormArray.-->
          <mat-form-field class="input">
            <mat-label>Title</mat-label>
            <input matInput formControlName="Title"/>
          </mat-form-field>
          <mat-form-field class="input">
            <mat-label>Iconcls</mat-label>
            <input matInput formControlName="Iconcls"/>
          </mat-form-field>
          <br />
          <mat-form-field class="input">
            <mat-label>Url</mat-label>
            <input matInput formControlName="Url"/>
          </mat-form-field>
          <br />
          <button type="button" (click)="rimuoviFormGroup(i)">-</button>
        </div>
      </div>
    </form>
  </div>
  <br />
  <button type="submit" [disabled]="!Catalean_form.valid" (click)="invio_Catalean()">INVIA</button>
</form>
